body
{
    background-image: url("R.jpg");
}

	.login_div1 , .login_div2
	{	
		background: rgb(255, 255, 255);
		padding: 10px;
		float: none;
		border-radius: 15px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
#game
{
    color: aliceblue;
    
}

